<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.focus_os_ghost">
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS"/>
    <application
        android:label="FocusOS"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <!-- ಈ ಲೈನ್ ತುಂಬಾ ಮುಖ್ಯ! -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
            
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/> 
            </intent-filter>
        </activity>
        <receiver
            android:name=".SecretCodeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data android:scheme="android_secret_code" android:host="2024" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
